.truncate {
    text-overflow: ellipsis;
}

.white-space-now-wrap {
    white-space: nowrap;
}

.tag {
    padding: .5rem .9rem;
    background-color: white;
    border: solid .15rem rgb(61, 58, 244);
    color: rgb(61, 58, 244);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
}